.header {
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 50, 50);
    color: white;
    z-index: 100;
    padding-left: 20px;
  
  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
  }
  
  .left-section {
    display: flex;
    align-items: center;
  
  }
  
  .video-grid {
    display: grid;
  }
  
  
  .container {
    display: grid;
    grid-template-columns: 150px 1fr; 
    gap: 20px; 
  }
  
  .mid-grid {
      padding-top: 60px;
      box-sizing: border-box;
      border: 1px solid #ccc;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 33px;
  }
  
  .ves {
    width: 10%; 
    height: auto; 
    margin-bottom: 10px; 
    margin-right: 20%; 
  }